In [1]:
import movekit as mkit
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
import os
os.chdir('..')
import src.movekit.io as imp
import src.movekit.feature_extraction as fe
import src.movekit.clustering as cl

### Read in CSV file and preprocess

In [2]:
# Enter path to CSV file
path = "./datasets/fish-5.csv"

In [3]:
# Read in CSV file and preprocess
data = mkit.read_data(path)
preprocessed_data = mkit.preprocess(data)

 Number of missing values = y            0
x            0
animal_id    0
time         0
dtype: int64

In [8]:
cl.dtw_matrix(preprocessed_data)

              312           511           607           811           905
312      0.000000  30843.085403  32859.600139  42461.524553  37916.447829
511  30843.085403      0.000000  26931.014323  47116.708116  20967.960073
607  32859.600139  26931.014323      0.000000  39859.787924  35711.718898
811  42461.524553  47116.708116  39859.787924      0.000000  38379.806433
905  37916.447829  20967.960073  35711.718898  38379.806433      0.000000